*{ 
    margin: 0%;
    padding: 0%;
    
}

/* Navbar style begins*/
body {
	padding-top: 2%;
} /* NAV - Might not be required in Main Page */

#mainNavbar {
	font-family: 'Oswald', sans-serif;
} /* NAV - font */

#mainNavbar.scrolled {
	transition: background 922ms;
} /* NAV - transition*/

.navbar-nav a:hover {
	font-weight: 600;
} /* NAV - hover effect when not scrolled*/

.navbar-nav .navbar_link:hover {
	/* color: white; */
	font-weight: 600;
	text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
} /* NAV - on hover properties*/
 /* navbar syle ends*/


/* Style for jump to top button */


@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display:700');
#top {
    height: 50px;
    width: 50px;
    display: none; 
    position: fixed;
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none;
    background-color: #555;
    color: #f1f1f1;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    font-size: 18px;
    opacity: 0.9;
    font-size:25px;
}

#top:hover {
    background-color: #0f4679;
    color: #eee8e8;
    padding: 2px;
    bottom: 25px;  
    opacity: 1;
    font-size: 30px;
    transition: all 0.3s;
}

.jumbotron {
    height: 75vh;
    width: 90vw;    
    border-radius: 0% !important; 
    z-index: 50;
    margin-top: -2.8%;
    background: url('/events/hacktohelp/imgs/hack-2-help-jumbotron-2.jpg');
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    background-attachment: scroll;
}

.imp{
    position: absolute;
    top: 31%;
    width: 90%;
    padding-left: 15%;
    text-align: center;
    font-size: 125%;
    font-family: 'Playfair Display', serif;
}



#typed {
    font-family: 'Old Standard TT', serif;
    color: #000000;
    font-size: 250%;
}




#type {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}


.report{
    font-family: 'Monteserrat', sans-serif;
    font-size: 125%;
    font-weight: 500;
}

.people-img{
    display: inline-block;
    /*flex-direction: column; */
    height: 65% !important;
    width: 55%;
    border-radius: 10px !important;
   /* box-shadow: -2px -1px 12px -2px #000000;*/
}

.winner-section{
    padding-bottom: 0%;
    margin-bottom: -12%;
}

.winners-img{
    height: 65%;
    width: 75%;
    border-radius: 10px;
    box-shadow: -2px -1px 12px -2px #000000;
}


/*Style for contact and footer section*/

.reach{
    background: url('../../img/adventure-beach-compass-691637.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 3%;
    margin-right: 0%;
    
}
footer{
    padding: 5px 10px;
    margin-right: 0px !important;
    background-color: #0f4679;
}

.text-copyright{
    text-align: center;
    margin: 5px;
    color: azure;
    font-size: 15px;
    font-family: 'Roboto';
    letter-spacing: 1px;
    font-weight: 100;
}